
.featuredPup {
  color: rgb(251, 99, 99);
  border: solid black;
  border-radius: 2em;
  padding-left: 15px;
  padding-right: 15px;
  background-color: blanchedalmond;
  font-weight: 700;
  font-size: 22px;
}

.featuredName {
  color: rgb(116, 8, 8);
  text-align: center;
  font-size: 30px;
}

li {
  text-align: left;
  padding-left: 0;
  list-style: none;

}

.puppyList {
  text-align: left;
  font-size: 30px;
  margin: 0 5px 0 50px;

}

.App{
  display: grid;
  grid: auto / auto auto;
  grid-gap: 40px;
  padding: 10px;
  width: 100%;
}
